<h4>Rich content</h4>
<br><br>

<div class="form-row center">
    <b>JavaScript&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
    <p>Differentiate between “Internet” and “Web”.
    
        Understand and summarize how the web works.
        
        Define APIs and protocols.</p>
    </div>
    <br>
<hr>
    <div class="form-row">
        <b>HTML&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
        <p>Differentiate between “Internet” and “Web”.
        
            Understand and summarize how the web works.
            
            Define APIs and protocols.</p>
        </div>
        <br>
<hr>
        <div class="form-row">
            <b>CSS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            <p>Differentiate between “Internet” and “Web”.
            
                Understand and summarize how the web works.
                
                Define APIs and protocols.</p>
            </div>