
    <footer class=" text-black" style="background-color: #F9F9F5;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <div class="row">
            <div class="col-sm">
              
          <img   class="img-fluid" src="../../../assets/brid.PNG" alt="" style="height: 90%;padding-top: 25px;">   </div>     
          <div class="col-sm text-center" style="padding-top: 48px;">
          
          
              <a style="padding-right: 30px;">Home</a>
            <a style="padding-right: 30px;">Contact</a>
            <a style="padding-right: 30px;">About Us</a>
            <a style="padding-right: px;">Our Trainings</a></div>
            <div class="col-sm " style="padding-top: 7px;">
              <br>
             
          <!-- Facebook -->
          <a class="btn btn-outline-warning btn-floating m-1" href="https://www.youtube.com/channel/UCalTz8mh5A5V0otTFon3lZg" role="button"
             ><i class="bi bi-youtube"></i
            ></a>

          <!-- Twitter -->
          <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
             ><i class="bi bi-twitter"></i
            ></a>

          <!-- Google -->
          <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
             ><i class="bi bi-google"></i
            ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-warning btn-floating m-1" href="https://www.instagram.com/lets_clone_it/" role="button"
             ><i class="bi bi-instagram"></i
            ></a>

          <!-- Linkedin -->
          <a class="btn btn-outline-warning btn-floating m-1" href="https://www.facebook.com/9antra.tn/" role="button"
             ><i class="bi bi-facebook"></i
            ></a>

          <!-- Github -->
          <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"
             ><i class="bi bi-telephone"></i
            ></a></div>
          </div>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: white;">
        Copyright © 2022 All Rights Reserved by LetsCloneIt.    
      </div>
      <!-- Copyright -->
    </footer>



 