<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light w3-bar-block border " style="width:15%;">
  <h3 class="w3-bar-item" style="background: #0088BB;">Menu</h3>
  <br>
  <a routerLink="/condidats" class="w3-bar-item w3-button">Users List</a>
  <br>
  <a routerLink="/category" class="w3-bar-item w3-button">Add Categories</a>
  <br>
  <a routerLink="/getcategory" class="w3-bar-item w3-button">Categories List</a>
  <br>
  <a routerLink="/course" class="w3-bar-item w3-button">Add Courcses</a>
  <br>
  <a routerLink="/courseadmin" class="w3-bar-item w3-button">List of courses</a>
 <br>
 <a routerLink="/addgols" class="w3-bar-item w3-button">Add goals of course</a>
 <br>
 <a routerLink="/gols" class="w3-bar-item w3-button">Goals</a>
<br>

<a routerLink="/content" class="w3-bar-item w3-button">add content of course</a>
<br>
 <a routerLink="/file" class="w3-bar-item w3-button">add image </a>
<br>
  <a routerLink="/" class="w3-bar-item w3-button">Home</a>
</div>
