<div class="container-fluid" >
    <div class="row">
       <div class="col-md-6 left" style="width: 15%;">      <app-sidebar></app-sidebar>
       </div>
       <div class="col-md-6 right" style="width: 80%;padding-left: 5%;padding-top: 5%;">
  
  <mat-card>
    <h4>Modifier Cours</h4><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
              
  
              
                <form *ngIf="quizzes" (submit)="updateData()">
                  
               
                    <div class="input-group mb-3">
                  
                      <input
                      class="form-control"
                      style="border-color: #0088BB;"
                      required
                       type="text"
                        name="title"
                         matInput placeholder="title"
                     [(ngModel)]="quizzes.title"
                         class="form-control" aria-label="Text input with segmented dropdown button">
                    </div>
                    <br>
                    <div class="input-group mb-3">
                  
                      <input
                      class="form-control"
                      style="border-color: #0088BB;"
                      required
                       type="text"
                        name="description"
                         matInput placeholder="description"
                         [(ngModel)]="quizzes.description"
                         class="form-control" aria-label="Text input with segmented dropdown button">
                    </div>
                    <br>
                        <div class="input-group mb-3">
                  
                          <input
                          class="form-control"
                          style="border-color: #0088BB;"
                          required
                           type="text"
                            name="period"
                             matInput placeholder="periode"
                             [(ngModel)]="quizzes.period"
                             class="form-control" aria-label="Text input with segmented dropdown button">
                        </div>
                        <br>
                        <div class="input-group">
                          <select class="custom-select" id="inputGroupSelect04"        
                          required
                          style="border-color: #0088BB;"
                           type="text"
        
                            name="category"
                             matInput 
                             [(ngModel)]="quizzes.category"> 
                            <option *ngFor="let c of categories" [ngValue]="c"> {{c.title}}</option>
                          
                          </select>
                         
                        </div>
        <br><br>
  
                          <div >
                              <button style="background-color: #FAB555; width: 100%;height: 40%;" class="btn ">Modifier</button>
                          </div>
  
                </form>
            </div>
  
        </div>
  
    </div>
  </mat-card>
  </div></div></div>